<!DOCTYPE html>
<html lang = "en">
<head>

	{{>head}}
	<title>Juliana's Express</title>

</head>
<body>
{{>bsnavbar}}

<div class = "container">
{{{body}}}
	<!--{{>greet}}-->
	{{>footer}}
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
</body>
</html>
