<div class = "page-header">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h2>SERVER IS DOWN. DO NOT PANIC</h2>

                <div class="error-details">
                    Sorry, an the server is currently undergoing maintenance. I repeat, do not panic.
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                      <span class="glyphicon glyphicon-home"></span> Take Me Home </a>

                    <a href = "/contact" class="btn btn-default btn-lg">
                      <span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
