<div class = "page-header">

  <!-- Header -->
    <header id="header" class="alt">
      <div class="inner">
        <h1>Epilogue</h1>
        <h2>Magna porta maximus</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae<br />
        malesuada turpis. Nam pellentesque in ac aliquam. Aliquam tempor<br />
        mi porta egestas maximus lorem ipsum dolor.</p>
        <ul class="actions">
        <button class="btn btn-hero btn-lg" role="button">Say hi!</button>
        </ul>
      </div>
    </header>

    
</div>
